# Opcional: habilitar CMF como fallback (requiere registro)
CMF_API_KEY=

# Conexion a Redis
REDIS_URL=redis://redis:6379

# Puerto de la API
PORT=3000

# Entorno
NODE_ENV=development
WARMUP_PAIRS=UF:CLP

# Rate Limiting (por defecto 60 reqs / 1 minuto)
THROTTLE_TTL=60000
THROTTLE_LIMIT=60
